@charset "UTF-8";
/* CSS Document */
body {
	background-image: url("../images/NewSpace.jpg");
	background-attachment: fixed;
	background-size: cover;
	
} 
.pageheader {
	height: 50px;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	top: 0px;
}
h1 {
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	color: black;
	margin: auto;
	text-align: center;
	
}
hr {
	width: 90%;
	color: #777;
	border: 0.5px solid;
}
.pageContent {
	margin: auto;
	margin-top: 180px;
	margin-bottom: 150px;
	height: auto;
	width: 800px;
	background-color: rgba(255,255,255,0.9);
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	border: 2px solid;
	border-radius: 5px;
	color: #777;
}
.navagationBar {
	
	color: black;
	width: auto;
	height: auto;
	float: right;
	margin: 5px;
	display: inline;
	
}
.addTicketElement {
	
	
	color: black;
	width: 750px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: auto;
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: block;
	padding: 10px;
	text-align: center;
	
}
.submitElement {
	
	
	width: 750px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: auto;
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: block;
	padding: 10px;
	text-align: center;
	
}
#issueName {
	width: 300px;
	height: 35px;
	box-sizing: border-box;
	resize: none;
	font-size: 16px;
	display: inline;
	
}
#issueDescription {
	width: 720px;
	max-width: 720px;
	height: 100px;
	box-sizing: border-box;
	resize: none;
	font-size: 16px;
}

.firstInputs {
	display: block;
	margin: 5px;
}
.radios {
	margin: 5px;
	text-align: center;
}
#logo {
	margin-top: 5%;
}
#logoSml {
	margin: auto;
	display: inline;
}
#loginForm {
	margin: auto;
	margin-top: 180px;
	height: auto;
	width: 320px;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 5%;
	border: 2px solid;
	border-radius: 5px;
	color: #777;
}
 .submitButton {
	 background-color: #0087d0;
	 color: white;
	 width: 300px;
	 margin: auto;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 height: 50px;
	 line-height: 50px;
	 border: 1px solid;
	 border-radius: 5px;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 display:inline-block;
	 text-align: center;

 }
 .button {
	 background-color: #0087d0;
	 color: white;
	 width: 200px;
	 margin: auto;
	 line-height: 20px;
	 padding: 10px;
	 border-radius: 5px;
	 display: inline;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 
 }
  .browseButton {
	 background-color: gray;
	 color: white;
	 width: 150px;
	 margin: auto;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 height: 50px;
	 border: 1px solid;
	 border-radius: 5px;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 display:inline-block;

	
	 
 }
 .radioButton {
	 background-color: #0087d0;
	 color: white;
	 width: 110px;
     display:inline-block;
	 line-height: 20px;
	 padding: 15px;
	 margin-right: 2px;
	 margin-top: 15px;
	 border-radius: 5px;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 font-size: 16px;
 }
 input[type=radio] {
	 float: right;
	 line-height: 50px;
 }
 .fileUpload {
	 
	 width: auto;
	 height: auto;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 border: 1px solid;
	 border-radius: 5px;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 display: block;
	 margin-top: 10px;
	 background-color: #0087d0;
	 color: white;
	
	 
 }
 
 #formEntry {
	 width: 290px;
	 margin: auto;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 height: 40px;
	 border: 1px solid;
	 border-radius: 5px;
	 padding: 5px;
	 
	 
 }