@charset "UTF-8";
/* CSS Document */



body {
	background-image: url("../images/NewSpace.jpg");
  
} 
	


.pageheader {
	height: 50px;
	width: 100%;
	background-color: white;
	top: 0px;
	
}

h1 {
	text-align: center;
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	line-height: 50px;
	
	color: #777;
}
hr {
	width: 90%;
	color: #777;
	border: 0.5px solid;
}
#logo {
	margin-top: 5%;
}
#loginForm {
	margin-left: 40%;
	margin-top: 10%;
	height: 40%;
	width: 20%;
	background-color: white;
	text-align: center;
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 20px;
	border: 2px solid;
	border-radius: 5px;
	color: #777;
	
}
 #submitButton {
	 background-color: #0087d0;
	 color: #fff;
	 width: 80%;
	 margin-left: 10%;
	 margin-top: 5%;
	 line-height: 5%;
	 padding: 4.5%;
	 border: 1px solid;
	 border-radius: 5px;
	 display: block;
 }
 
 #formEntry {
	 width: 70%;
	 margin-left: 10%;
	 margin-top: 5%;
	 line-height: 5%;
	 border: 1px solid;
	 border-radius: 5px;
	 display: block;
	 padding: 4.5%;
	 
	 
 }