@charset "UTF-8";
/* CSS Document */
body {
	background-image: url("../images/NewSpace.jpg");
	
} 
.pageheader {
	height: 50px;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	top: 0px;
}
h1 {
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	color: #777;
	margin: auto;
	text-align: center;
	
}
hr {
	width: 90%;
	color: #777;
	border: 0.5px solid;
}
.pageContent {
	background-color: white;
	color: black;
	width: 600px;
	height: auto;
	margin: auto;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	text-align: center;
}
.navagationBar {
	
	color: black;
	width: auto;
	height: auto;
	float: right;
	margin: 5px;
	display: inline;
	
}
#logo {
	margin-top: 5%;
}
#logoSml {
	margin: auto;
	display: inline;
}
#loginForm {
	margin: auto;
	margin-top: 220px;
	height: auto;
	width: 20%;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	font-family: proxima nova, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 5%;
	border: 2px solid;
	border-radius: 5px;
	color: #777;
}
 .submitButton {
	 background-color: #0087d0;
	 color: white;
	 width: 300px;
	 margin: auto;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 height: 50px;
	 border: 1px solid;
	 border-radius: 5px;
	 border-color: black;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 font-size: 16px;
	
	 
 }
 .button {
	 background-color: #0087d0;
	 color: white;
	 width: 200px;
	 margin: auto;
	 line-height: 20px;
	 padding: 10px;
	 border: 1px solid;
	 border-radius: 5px;
	 display: inline;
	 border-color: black;
	 font-family: proxima nova, Arial, Helvetica, sans-serif;
	 font-size: 16px;
 }
 #formEntry {
	 width: 290px;
	 margin: auto;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 height: 40px;
	 border: 1px solid;
	 border-radius: 5px;
	 padding: 5px;
	 
	 
 }